{{!-- class form video là cho đỡ vào sau sửa lại --}}
<div class="mb-3 form-video">
    <form method="post" action="/channel/store">
                <label for="nameChannel" class="form-label">nameChanel</label>
                <input type="text" class="form-control" name="nameChannel" id="nameChanel" placeholder="">
                <label for="views" class="form-label">views</label>
                <input type="text" class="form-control" name="views" id="views" placeholder="">
                  <label for="avatar" class="form-label">avatar</label>
                <input type="text" class="form-control" name="avatar" id="avatar" placeholder="">
                <br>
                <button type="submit" class="btn btn-primary">Submit</button>
    </form>
 
</div>
