
<div class="mb-3 form-video">
    <form method="post" action="/videos/store">
                <label for="titleVideo" class="form-label">titleVideo</label>
                <input type="text" class="form-control" name="titleVideo" id="titleVideo" placeholder="">
                <label for="description" class="form-label">description</label>
                <input type="text" class="form-control" name="description" id="description" placeholder="">
                 <label for="videoId" class="form-label">videoId</label>
                <input type="text" class="form-control" name="videoId" id="videoId" placeholder="">
                  <label for="imgVideo" class="form-label">imgVideo</label>
                <input type="text" class="form-control" name="imgVideo" id="imgVideo" placeholder="">
                  <label for="idChannel" class="form-label">idChannel</label>
                <input type="text" class="form-control" name="idChannel" id="idChannel" placeholder="">
                  <label for="category" class="form-label">category</label>
                <input type="text" class="form-control" name="category" id="category" placeholder="">
                <br>
                <button type="submit" class="btn btn-primary">Submit</button>
    </form>
 
</div>
