<section class="content-video">
    <div class="row">
        <div class="col l-7" style="border: 1px solid #000;">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/{{videoSource.videoId}}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <p class="video-desc">{{videoSource.description}}</p>
        </div>
        <div class="col l-5" style="border: 1px solid #000;">
              <ul class="nav">
      <li class="nav-item">
         <a href="/" class="nav-link active"aria-current="page" req-value="Tat-ca">Tất cả</a>
      </li>
       <li class="nav-item">
        <button class="nav-link btn-category-item" aria-current="page" req-value="The-thao">Thể thao</button>
      </li>
       <li class="nav-item">
        <button class="nav-link btn-category-item" aria-current="page" req-value="Am-nhac" >Âm nhạc</button>
      </li>
       <li class="nav-item">
        <button class="nav-link btn-category-item" aria-current="page" req-value="Hoat-hinh" >Hoạt hình</button>
      </li> 
      <li class="nav-item">
        <button class="nav-link btn-category-item" aria-current="page" req-value="Am-nhac" >Trò chơi</button>
      </li>
       <li class="nav-item">
        <button class="nav-link btn-category-item" aria-current="page" req-value="Am-nhac" >Nấu ăn</button>
      </li>
      <li class="nav-item">
        <button class="nav-link btn-category-item" aria-current="page" req-value="Am-nhac" >Bóng đá</button>
      </li>
      <li class="nav-item">
        <button class="nav-link btn-category-item" aria-current="page" req-value="Am-nhac" >Hoạt hình</button>
      </li>
      <li class="nav-item">
        <button class="nav-link btn-category-item" aria-current="page" req-value="Am-nhac" >Trực tiếp</button>
      </li>
       <li class="nav-item">
        <button class="nav-link btn-category-item" aria-current="page" req-value="Am-nhac" >Trò chơi Hành động phiêu lưu</button>
      </li>
       <li class="nav-item">
        <button class="nav-link btn-category-item" aria-current="page" req-value="Am-nhac" >Trò chơi Hành động phiêu lưu</button>
      </li>
       <li class="nav-item">
        <button class="nav-link btn-category-item" aria-current="page" req-value="Am-nhac" >Trò chơi Hành động phiêu lưu</button>
      </li>
</ul>

        </div>
    </div>
</section>